@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --font-principal: "Montserrat", sans-serif;
    --primary-color: #E8F9FD;
    --bg-color: #0AA1DD;
}

body{
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    font-family: var(--font-principal);
    text-align: center;
}

h1{
    font-size: 4rem;
}

h3{
    font-size: 1.8rem;
    margin-top: 1.5rem;
}

.mensagem{
    font-size: 1.5rem;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box{
    border: 2px solid var(--primary-color);
    padding: 1rem 2rem;
    margin-block: 1rem;
    font-size: 3rem;
}

#select {
    border: none;
    outline: none;
    padding: 10px;
    background: transparent; /* Cor de fundo personalizada */
    color: var(--primary-color);
    font-size: 16px;
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Sombra */
    border: 1px solid var(--primary-color);
    padding: 0.5rem 1rem;
    margin-top: 1rem;
}

#select:focus{
    color: rgba(0, 0, 0, 0.8);
    font-size: 1rem;
}

.btn-Start-jogarNovamente{
    padding: 8px 15px;
    border: 0;
    background-color: var(--primary-color);
    border-radius: 10px;
    margin-top: 20px;
    color: var(--bg-color);
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.game-over{
    font-size: 2.3rem;
    font-weight: 700;
}

.paragrafo-jogo_iniciado{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}